<footer class="gh-footer{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-footer-inner gh-inner">

        <img class="" src="https://ccsg.crossman.ca/content/images/ccsg_logo_arch_whtred.png" alt="Capital City Supporters Group">

    </div>
</footer>
